.igra {
  font-family: "Igra Sans";
  color: #404040;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;

  &-12 {
    font-size: 12px;
    line-height: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-20 {
    font-size: 20px;
    line-height: 20px;
  }

  &-26 {
    font-size: 26px;
    line-height: 26px;
  }

  &-32 {
    font-size: 32px;
  }

  &-44 {
    font-size: 44px;
    line-height: 45px;
  }

  &-grey {
    color: #999999;
  }

  &-orange {
    color: #f0af3b;
  }

  &-white {
    color: #ffffff;
  }

  &-green {
    color: #3ac457;
  }

  &-red {
    color: #fb5b1d;
  }
}

.roboto {
  font-family: "Roboto", sans-serif;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  &-fw-medium {
    font-weight: 500;
  }

  &-fw-bold {
    font-weight: 600;
  }

  &-12 {
    font-size: 12px;
  }

  &-14 {
    font-size: 14px;
  }

  &-20 {
    font-size: 20px;
  }

  &-26 {
    font-size: 26px;
  }

  &-32 {
    font-size: 32px;
  }

  &-44 {
    font-size: 44px;
  }

  &-grey {
    color: #999999;
  }

  &-orange {
    color: #f0af3b;
  }

  &-white {
    color: #ffffff;
  }
}

.m {
  &-r-5 {
    margin-right: 5px;
  }

  &-r-10 {
    margin-right: 10px;
  }

  &-r-15 {
    margin-right: 15px;
  }

  &-r-20 {
    margin-right: 20px;
  }

  &-r-25 {
    margin-right: 25px;
  }
  &-r-35 {
    margin-right: 35px;
  }

  &-r-30 {
    margin-right: 30px;
  }

  &-r-38 {
    margin-right: 38px;
  }

  &-r-40 {
    margin-right: 40px;
  }

  &-r-50 {
    margin-right: 50px;
  }

  &-r-60 {
    margin-right: 60px;
  }

  &-r-75 {
    margin-right: 75px;
  }

  &-l-5 {
    margin-left: 5px;
  }

  &-l-10 {
    margin-left: 10px;
  }

  &-l-15 {
    margin-left: 15px;
  }

  &-l-20 {
    margin-left: 20px;
  }

  &-l-25 {
    margin-left: 25px;
  }

  &-b--10 {
    margin-bottom: -10px;
  }

  &-b-10 {
    margin-bottom: 10px;
  }

  &-b-12 {
    margin-bottom: 12px;
  }

  &-b-5 {
    margin-bottom: 5px;
  }

  &-b-14 {
    margin-bottom: 14px;
  }

  &-b-15 {
    margin-bottom: 15px;
  }

  &-b-16 {
    margin-bottom: 16px;
  }

  &-b-20 {
    margin-bottom: 20px;
  }

  &-b-25 {
    margin-bottom: 25px;
  }

  &-b-30 {
    margin-bottom: 30px;
  }

  &-b-34 {
    margin-bottom: 34px;
  }

  &-b-45 {
    margin-bottom: 45px;
  }

  &-b-50 {
    margin-bottom: 50px;
  }

  &-b-55 {
    margin-bottom: 55px;
  }

  &-b-53 {
    margin-bottom: 53px;
  }

  &-b-80 {
    margin-bottom: 80px;
  }

  &-t-10 {
    margin-top: 10px;
  }

  &-t-20 {
    margin-top: 20px;
  }

  &-t-26 {
    margin-top: 26px;
  }

  &-t-30 {
    margin-top: 30px;
  }

  &-t-40 {
    margin-top: 40px;
  }

  &-t-43 {
    margin-top: 43px;
  }

  &-t-60 {
    margin-top: 60px;
  }
}

.color {

  &-green {
    background-color:#4f745e ;
  }

  &-swamp {
    background-color:#818656 ;
  }

  &-mustard {
    background-color:#b7a56c ;
  }

  &-gray {
    background-color:#6d6866 ;
  }

  &-blue {
    background-color:#334251 ;
  }
}
